<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.yyt.springboot.mapper.TypeInfoMapper">

    <insert id="save"  parameterType="TypeInfo">
        insert into TypeInfo(typeName) values(#{typeName})
    </insert>

    <delete id="delete" parameterType="TypeInfo">
        delete from TypeInfo where typeId=#{typeId}
    </delete>

    <update id="update"  parameterType="TypeInfo">
        update TypeInfo t set t.typeName=#{typeName} where  t.typeId=#{typeId}
    </update>

    <select id="get" parameterType="int" resultType="TypeInfo">
        select * from TypeInfo t where t.typeId=#{typeId}
    </select>

    <select id="findAll" resultType="TypeInfo">
          select * from TypeInfo
    </select>


</mapper>

